body{
    font-family: "Lato";
}

h2,h6{
    text-transform: uppercase;
    color: white;
}
span{
    display: block;
}
h5,h6,p{
    color: white;
    line-height: 1.5rem;
}
h5{
    font-size: 1.5rem;
    margin-top: 2rem;
}