@use "../abstract/mixin" as m;

@media screen and (max-width:1237px){
    .salmon .learn .nous h2{
        margin: 1rem;
    }
    .salmon .learn .nous p{
        line-height: 1rem;
        margin: 2rem;
    }  
}
@media screen and (max-width:1116px){
    h1{
        top: 50px;
        left: 10px;
    }
}
@media screen and (max-width:1106px){
    .salmon .learn .nous{
        width: 50%;
    }
    .salmon .learn .phone{
        margin-right:2rem;
        margin-left:0;
    }    
    .salmon .learn .nous h2{
        margin-right: 0;
        
    }
    .salmon .learn .nous p{
        margin-right: 0;   
    }
}
@media screen and (max-width:1014px) {
    #touch div article h2{
        font-size: 1.5rem;
    }
    
}
@media screen and (max-width:972px){
    .salmon .learn{
        height: 500px;
    }
    .salmon .learn .phone{
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
        
        

    }
}
@media screen and (max-width:936px){
    .salmon .learn .nous h2{
        font-size: 2rem;
        margin-left: 0;
    }
    .salmon .learn .nous p{
        margin-left: 0;
    }
    .salmon .learn .nous .btn{
        margin: 0;

    }
    
}

    

@media screen and (max-width:936px){

    .menu_dropdown{
        display: flex;
        flex-direction: column;
        margin-left: 10rem;
        margin-top: 1rem;


      

        .fa-bars{
            display:block ;
            margin-right: 500px;
        }

        ul{
            display:none;
            position:absolute;
            left:400px;
            top:1rem;
            text-align: center;

            li{
                padding:1rem;
                border:1px solid rgb(240, 134, 134);
                background-color: rgba(0, 0, 0, 0.842);
            }
        }
    }

    .menu_dropdown:hover ul{
        display:block;
    }
}

@media screen and (max-width: 692px) {
    footer{
        height: auto;
    }
    .features div{
        flex-direction: column;
    }
    footer .footer{
        display: flex;
        flex-direction: column;   
    }
    footer .footer img{
        margin-left: 37%;
    }
    footer .footer ul{
        flex-direction: column;
    }
}
footer section {
    flex-wrap: wrap;
}

@media screen and (max-width: 611px) {
    .salmon .learn .nous{
        margin: 1rem;
        width: 100%;
    }
    .salmon .learn .phone{
        display: none;
    }
    .salmon .learn .nous h2{
        font-size: 1.5rem;
    }
    .salmon .learn .nous p{
        font-size: 1rem;
    }
    .salmon .learn .nous .btn{
        margin: 0;
    }
   
    .picture{
        flex-wrap: wrap;
        height:600px;
    }
    .picture .left{
        width: 100%;
        margin: 0.5rem 0;
        height: 33%;

    }
    .picture .right{
        width: 100%;
        height: 66%;
        margin-top: 0;
    }
    .picture .right .top{
        margin-bottom: 0.5rem;
        height: 50%;
    }
    .picture .right .bottom{
        height: 50%;
    }
}
@media screen and (max-width:610px) {
    #touch div{
        flex-wrap: wrap;
    }
    #touch div .touch{
        padding: 1rem;

    }
    #touch{
        height: auto;
    }
    
}