footer{
    background-color: black;
    height: 200px;
    padding-top: 220px;
   
    section{
        display: flex;
        justify-content: space-around;
    }
    .fa-brands{
        color: white;
        margin: 1rem;
        transition: 0.25s ease;
    }
    .fa-brands:hover{
        color:salmon
    }
}