@use "../abstract/mixin" as m;

// ----banner----
h1{
    position:absolute;
    top: 70px;
    left:900px;
    color: white
}
.salmon{
    background-color: salmon;
    border: 1px solid salmon;
    border-radius: 50px;
    margin: 3rem;
    
    
    .learn{
        display: flex;
        justify-content: space-around;
        .nous{
            h2{
                font-size: 3rem;
                margin: 2rem;
                
            }
            p{
                color: white;
                line-height: 2rem;
                margin: 2rem;

            }
            .btn{
                @include m.button;
                margin:5rem;  
            }
            .btn:hover{
                background-color: black;
                color: white;
            }
        }
        .phone{
            background-image: url(../image/mockup-travel-iphone.png);
            width: 30%;
            background-size: cover;
            margin-left: 2rem;
            margin-right: 2rem;
            margin-top: 2rem;
            height: 450px;
        }
    }
    
}   


// ----gallery service----



.services{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 500px;
    margin-left: 5rem;
    margin-bottom: 10rem;
    
   
    .left{
        background-image: url(../image/homme-assis-batiment.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 15px;
        width: 50%;
        margin-right: 0.5rem;
        margin-top: 6rem;

    }
    .top{
        background-image: url(../image/passport.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 15px;
        height: 49%;
        margin-bottom: 0.5rem;
    }
    .bottom{
        background-image: url(../image/montgolfiere.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 15px;
        height: 48%;
    }
    .right{
        width: 50%;
        margin-top: 6rem;  
    }
    .fleche{
        color: salmon;
        transition: 0.25s ease;
    }
    a{
        color: white;
        transition: 0.25s ease;
    }
    h3{
        font-size: 3rem;
    }
    a:hover{
        color: salmon;
    }
    .fleche:hover{
        color: white;
    }
}


            // ----feature----


.features{
    background-image: url(../image/wave.svg);
    background-position: center;
    background-size: cover;
    padding: 1rem;
    h3{
        font-size: 3rem;
        text-align:end;
        margin-right: 5rem;
    }
    div{
        display: flex;
        align-items: center;
        margin: 5rem;
        article{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem;
            padding: 2 6rem;
            h4{
                margin: 1rem;
                font-size: 1.5rem;
            }
            p{
                text-align: center;
                line-height: 1.5rem;
                color: grey;
            }

        }
    }
}
.fa-solid,.fa-regular{
    color: salmon;
    
}

    //   ----touch----

#touch{
    background-color: salmon;
    border: 1px solid salmon;
    border-radius: 50px;
    margin-left: 5rem;
    margin-right: 5rem;
    height:300px;
    width: 70%;
    position: absolute;
    top: 1790px;
    left: 150px;
    div{
        display: flex;
        justify-content: space-around;
        padding-top: 3rem;
        article{
            h2{
                font-size: 2rem;
                margin-bottom: 2rem;
            }
            p{
                color: grey;
            }
        }
        .touch{
            padding: 6rem;
            .btn{
                @include m.button;
            }
            .btn:hover{
                background-color: black;
                color: white;
            
        }

       
    }

}

}
